﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Kasutaja</h1>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        @*<form id="profile-form" method="post">*@
        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="Input.FirstName"></label>
            <input asp-for="Input.FirstName" class="form-control" disabled/>
            @*<span asp-validation-for="Input.FirstName" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <label asp-for="Input.LastName"></label>
            <input asp-for="Input.LastName" class="form-control" disabled />
            @*<span asp-validation-for="Input.LastName" class="text-danger"></span>*@
        @*</div>*@
        @*<div class="form-group">
            <label asp-for="Input.RoleName"></label>
            <input asp-for="Input.RoleName" class="form-control" disabled />*@
            @*<span asp-validation-for="Input.Department" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" disabled />
        </div>
        @*<div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" disabled />
        </div>*@
        @*@if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
