﻿@model TravelExpences.Models.TripReport

@{
    ViewData["Title"] = "Edit";
}

<h2>Muuda lähetusaruannet</h2>

@*<h4>Lähetusaruanne</h4>*@
<hr />

@if (Model.File != null)
{

    <a asp-action="GetImageFile", asp-controller="TripReports" asp-route-tripReportId="@Model.Id">@Model.FileName</a>
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>     
                @ViewBag.FullName
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TripReason" class="control-label"></label>
                <input asp-for="TripReason" class="form-control" />
                <span asp-validation-for="TripReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportExpenses" class="control-label"></label>
                <input asp-for="TransportExpenses" class="form-control" />
                <span asp-validation-for="TransportExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccomodationExpenses" class="control-label"></label>
                <input asp-for="AccomodationExpenses" class="form-control" />
                <span asp-validation-for="AccomodationExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccomodationNight" class="control-label"></label>
                <input asp-for="AccomodationNight" class="form-control" />
                <span asp-validation-for="AccomodationNight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherExpenses" class="control-label"></label>
                <input asp-for="OtherExpenses" class="form-control" />
                <span asp-validation-for="OtherExpenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" name="File" id="File" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Salvesta" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tagasi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
