﻿@model TravelExpences.Models.TripReport

@{
    ViewData["Title"] = "Lükka tagasi";
}

<h2>Lükka tagasi</h2>
@*<h4>Lähetusaruanne</h4>*@
@*<h3>Kas oled kindel, et soovid lähetusaruannet töötajale tagasi lükata?</h3>*@
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransportExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportExpenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccomodationExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccomodationExpenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccomodationNight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccomodationNight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherExpenses)
        </dd>
    </dl>

    <form asp-action="ReturnToWorker">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Lükka tagasi" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
