﻿@model TravelExpences.Models.TripReport

@{
    ViewData["Title"] = "Esita";
}

<h2>Esita lähetusaruanne</h2>

@*<h3>Kas oled kindel, et soovid lähetusaruannet esitada?</h3>*@
<div>
    @*<h4>Lähetusaruanne</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransportExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportExpenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccomodationExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccomodationExpenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccomodationNight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccomodationNight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherExpenses)
        </dd>
    </dl>


    @if (Model.File != null)
    {
    <a asp-action="GetImageFile" , asp-controller="TripReports" asp-route-tripReportId="@Model.Id">@Model.FileName<br />
        <br />
    </a>
    }

   

    <form asp-action="Submit">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Esita" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>
